{:kotoba.app/id "cloud.itonami.isic-7710", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibgbgwlyh4c2vaw54buvbs2a6b6efgxy6oxrebqvrh73igpgzccva", :kotoba.app/embed-url "ipfs://bafkreibgbgwlyh4c2vaw54buvbs2a6b6efgxy6oxrebqvrh73igpgzccva", :published {:archive "https://kotobase.net/ipfs/bafkreibgbgwlyh4c2vaw54buvbs2a6b6efgxy6oxrebqvrh73igpgzccva", :size 72948, :put-status 201, :get-status 200, :at "2026-08-15T13:55:38.386Z"}}
